*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.news{
    width: 795px;
    height: 530px;
    margin: 50px auto;
    position: relative;
}
img{
    display: block;
    width: 100%;
}
.bg{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    height: 153px;
    opacity: 0.5;
    padding:  0 30px;
    padding-top: 22px; 
    box-sizing: border-box;
}
h3{
    font-size: 30px;
    color: #0078c2;
}
.content{
    font-size: 14px;
    line-height: 25px;
    /*首行缩进2字符*/
    text-indent: 2em;
}
.number{
    font-size: 14px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
li{
    display: inline-block;
    border: 1px solid #fff;
    width: 18px;
    text-align: center;
    background-color: #6c6d6e;
    opacity: 0.7;
    font-size: 12px;
    color: #fff;
}
li:hover{
    color: red;
}
a{
    color: #fff;
}