.container{
    width: 1000px;
    margin: 0 auto;
}
.left,.mid,.right{
    display: block;
    float: left;
    margin: 10px;
}
.ban{
    width: 1899px;
    height: 300px;
}
.foot{
    background-color: #494545;
}