*{
    /*外边距 0*/
    margin: 0;
    /*内边距 0*/
    padding: 0;
}
img.a1{
    width:100%;
}

h2 {
    font-size: 48px;
    color: #af201c;
    text-align: center;
    line-height: 48px;
    margin-top: 140px;
    text-align: center;
}
.a1{
    width: 1000px;
    margin: 0 auto;

}
.a1 .a2{
    background-color: #666;
    margin-top: 75px;
    padding: 38px;
}
.a1 .a2 .a3{
    line-height: 48px;
    text-align: justify;
    font-size: 24px;
    color: #fff;
}
.a1 .im{
    margin: 0 auto;
    width: 900px;
}
img{
    width: 100%;
}