*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.father{
    width: 300px;
    height: 1300px;
    background-color: #ccc;
    border: 1px solid;
    padding: 10px;
    margin: 100px auto;
    /*子绝父相
    :如果想让子元素相对于该父元素进行绝对定位，则加一句这个*/
    position: relative;
}
.child01,.child02,.child03{
    width: 100px;
    height: 50px;
    line-height: 50px;
    border: 1px solid;
    margin: 10px 0;
    text-align: center;
    /* 
    什么都不写的时候more就是静态position: static;
     */

}
.child01{
    background-color: aquamarine;
    /*相对定位：
        相对于自身原来位置进行的边偏移 
        position: relative;
        top: 50px;
        left: 100px;
    */
}
.child02{
    background-color: pink;
    /*绝对定位：
    绝对定位时将元素依据最近的已经定位的父元素（绝对、相对、固定定位）进行定位，如果所有父元素都没有进行定位，那么就会依据body进行定位
    如果第15行没有，则该盒子相对于body进行移动（把自己的文档流让出来了)
    */     
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    /* width: 100%;
    height: 100px;
    opacity: 0.5; */
}
.child03{
    background-color: yellow;
    /*固定定位：一般都以body为依据*/
    position:fixed ;
    right: 0;
    top: 0;
}